Package: ganglia-monitor-python
Source: ganglia
Version: 3.3.0-1.5
Architecture: all
Maintainer: Stuart Teasdale <sdt@debian.org>
Installed-Size: 436
Depends: python, ganglia-monitor (= 3.3.0-1.5)
Section: net
Priority: optional
Homepage: http://www.ganglia.info/
Description: cluster monitoring toolkit - python modules
 Ganglia is a scalable, real-time cluster monitoring environment
 that collects cluster statistics in an open and well-defined XML format.
 .
 This package contains the monitor core python plugins.
